.ax{
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50px;
}
.matn{
    margin-top: 13px;
}
.mt-7{
    margin-top: 100px;
}
.inline{
    display: inline;
}
.bold{
    font-weight: bold;
}
.nm{
    margin-bottom: -5px;
}
.nm2{
    margin-bottom: 1px;
}
.smalltx{
    font-size: small;
}
.bigtx{
    font-size: large;
}
.center{
    margin-left: 50px;
    margin-top: 10px;
}
.display-6{
    font-size: x-large;
}
.gold{
    color: goldenrod;
}
.blackproduct{
    background-color: rgb(0, 0, 0);
    height: 400px;
    width: 280px;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
}
.blackproduct:hover{
    zoom: 1.01;
}
.whiteproduct:hover{
    zoom: 1.01;
}
.whiteproduct{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 280px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
}
.whiteproduct2{
    background-color: rgb(0, 0, 0);
    height: 180px;
    width: 260px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 23px;
    margin-right: 4px;
}
.logopic{
    width: 20px;
    margin-left: 0px;
}
.imgproduct{
    height: 95px;
}
.axproduct{
    position: absolute;
    width: 260px;
    top: 150px;
    
}
.axproduct2{
    position: absolute;
    right: 5px;
    width: 270px;
    top: 100px;
    
}
.shadow{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}
.produits2{
    position: absolute;
    top: 3px;
    left: 8px;

}
.personpro{
    background-image: url("store-chat-specialist-icon-202309.jpg");
    background-position: center bottom; /* قرار دادن تصویر در مرکز افقی و پایین */
    background-repeat: no-repeat; /* جلوگیری از تکرار تصویر */
    background-size: cover;
}
.personpro2{
    background-image: url("store-card-50-TAA-202310.jpg");
    background-position: center bottom; /* قرار دادن تصویر در مرکز افقی و پایین */
    background-repeat: no-repeat; /* جلوگیری از تکرار تصویر */
    background-size: cover;
}
.imgax1{
    background-image: url("app.jpg");
    background-position: center bottom; /* قرار دادن تصویر در مرکز افقی و پایین */
    background-repeat: no-repeat; /* جلوگیری از تکرار تصویر */
    background-size: cover;
}
.imgax2{
    background-image: url("react.jpg");
    background-position: center bottom; /* قرار دادن تصویر در مرکز افقی و پایین */
    background-repeat: no-repeat; /* جلوگیری از تکرار تصویر */
    background-size: cover;
}
.dota{
    margin-right: 5px;
    border-radius: 30px;
    
}
.text{
    width: 150px;
}
