@media (max-width: 770px){
    .whiteproduct{
        margin: 10px;
        width: 240px;
    }
    .blackproduct{
        margin: 10px;
        width: 240px;
    }
    .axproduct2{
        width: 230px;
    }
    .axproduct{
        width: 230px;
    }
    .nav1{
        display: none;
    }
    .intro{
        text-align: center;
    }
    .linksfrist{
        display: flex;
    }
    .linksfris2{
        position: absolute;
        justify-content: center; /* مرکز کردن افقی */
        align-items: center;
    }
}